@model Character

@{
    ViewData["Title"] = "Details";
}

<div class="content">
    <partial name="_CharacterCard" model="@ViewBag.Characters" />
    <div id="characterPage" class="page">
        <div>
            <div id="nameBox" class="box">
                <h2>@Html.DisplayFor(model => model.Name)</h2>
                <hr />
            </div>
            <div id="lvlBox" class="box flex absolute">
                <div id="levelInfo">
                    <div id="headerData" class="titleData flex">
                        <div class="lvlGroup"> Level </div>
                        <div class="expGroup"> Experience points </div>
                    </div>
                    <hr />
                    <div id="levelData" class="flex">
                        <div class="lvlGroup">
                            <h4>@Html.DisplayFor(model => model.Level)</h4>
                        </div>
                        <div class="expGroup">
                            @Html.DisplayFor(model => model.CurrentExp) / @Html.DisplayFor(model => model.goalExp)
                        </div>
                    </div>
                </div>
                <form asp-action="EditExp" id="editExp" class="flex">
                    <input type="hidden" asp-for="Id" />
                    <input name="addExp" type="number" placeholder="Add exp" />
                    <input type="submit" value="+" />
                </form>
            </div>
            <div id="attributesBox" class="box">
                <div class="titleData">
                    Ability Scores
                </div>
                <hr />
                <div class="attributeData">
                    <div class="attributeName titleData">
                        @Html.DisplayNameFor(model => model.Attributes.Strength)
                    </div>
                    <div class="attributeValue">
                        @Html.DisplayFor(model => model.Attributes.Strength) @* Add printout for modifiers? *@
                    </div>
                </div>
                <div class="attributeData">
                    <div class="attributeName titleData">
                        @Html.DisplayNameFor(model => model.Attributes.Dexterity)
                    </div>
                    <div class="attributeValue">
                        @Html.DisplayFor(model => model.Attributes.Dexterity)
                    </div>
                </div>
                <div class="attributeData">
                    <div class="attributeName titleData">
                        @Html.DisplayNameFor(model => model.Attributes.Constitution)
                    </div>
                    <div class="attributeValue">
                        @Html.DisplayFor(model => model.Attributes.Constitution)
                    </div>
                </div>
                <div class="attributeData">
                    <div class="attributeName titleData">
                        @Html.DisplayNameFor(model => model.Attributes.Intelligence)
                    </div>
                    <div class="attributeValue">
                        @Html.DisplayFor(model => model.Attributes.Intelligence)
                    </div>
                </div>
                <div class="attributeData">
                    <div class="attributeName titleData">
                        @Html.DisplayNameFor(model => model.Attributes.Wisdom)
                    </div>
                    <div class="attributeValue">
                        @Html.DisplayFor(model => model.Attributes.Wisdom)
                    </div>
                </div>
                <div class="attributeData">
                    <div class="attributeName titleData">
                        @Html.DisplayNameFor(model => model.Attributes.Charisma)
                    </div>
                    <div class="attributeValue">
                        @Html.DisplayFor(model => model.Attributes.Charisma)
                    </div>
                </div>
            </div>
            <div id="hpBox" class="box absolute">
                <div class="titleData">
                    Hit Points
                </div>
                <hr />
                <div class="flex">
                    <div class="titleData hp">
                        Max
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.MaxHitPoints)
                    </div>
                </div>
                <hr />
                <div class="flex">
                    <div class="titleData hp">
                        Current
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.CurrentHitPoints)
                    </div>
                </div>
                <form method="post" id="editHp">
                    <input type="hidden" asp-for="Id" />
                    <input type="number" name="HitPoints" min="0" placeholder="Hit Points" />
                    <div>
                        <input type="submit" value="Recover" asp-controller="Characters" asp-action="RecoverHitPoints" />
                        <input type="submit" value="Damage" asp-controller="Characters" asp-action="LoseHitPoints" />
                    </div>
                </form>
            </div>
            <div id="wealthBox" class="box absolute">
                <div class="titleData">
                    @Html.DisplayNameFor(model => model.Wealth)
                </div>
                <hr />
                <div id="wealthData" class="flex">
                    <div id="currentWealth">
                        <div class="wealthItem flex">
                            <div class="coinTitle titleData">
                                @Html.DisplayNameFor(model => model.Wealth.Copper)
                            </div>
                            <div class="coinValue">
                                @Html.DisplayFor(model => model.Wealth.Copper)
                            </div>
                        </div>
                        <hr />
                        <div class="wealthItem flex">
                            <div class="coinTitle titleData">
                                @Html.DisplayNameFor(model => model.Wealth.Silver)
                            </div>
                            <div class="coinValue">
                                @Html.DisplayFor(model => model.Wealth.Silver)
                            </div>
                        </div>
                        <hr />
                        <div class="wealthItem flex">
                            <div class="coinTitle titleData">
                                @Html.DisplayNameFor(model => model.Wealth.Gold)
                            </div>
                            <div class="coinValue">
                                @Html.DisplayFor(model => model.Wealth.Gold)
                            </div>
                        </div>
                        <hr />
                        <div class="wealthItem flex">
                            <div class="coinTitle titleData">
                                @Html.DisplayNameFor(model => model.Wealth.Platinum)
                            </div>
                            <div class="coinValue">
                                @Html.DisplayFor(model => model.Wealth.Platinum)
                            </div>
                        </div>
                    </div>
                    <div id="verticalDivider"></div>
                    <form method="post" id="editWealth">
                        <div>
                            <input type="number" name="Copper" min="0" placeholder="Copper pieces" />
                        </div>
                        <div>
                            <input type="number" name="Silver" min="0" placeholder="Silver pieces" />
                        </div>
                        <div>
                            <input type="number" name="Gold" min="0" placeholder="Gold pieces" />
                        </div>
                        <div>
                            <input type="number" name="Platinum" min="0" placeholder="Platinum pieces" />
                        </div>
                        <div>
                            <input type="hidden" asp-for="Id" />
                        </div>
                        <div>
                            <input type="submit" value="Income" asp-controller="Characters" asp-action="GainCoins" />
                            <input type="submit" value="Expense" asp-controller="Characters" asp-action="LoseCoins" />
                        </div>
                    </form>
                </div>
            </div>
            <div id="characteristicsBox" class="box absolute">
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Race)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Race)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Class)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Class)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Alignment)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Alignment)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                </dl>
            </div>
            <div id="armorclassBox" class="box absolute">
                <div class="titleData">
                    @Html.DisplayNameFor(model => model.ArmorClass)
                </div>
                <hr />
                <div id="armorclassData" class="flex">
                    @Html.DisplayFor(model => model.ArmorClass)
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    </div>
</div>



