@model Character

@{
    ViewData["Title"] = "Level Up";
}

<h1>Level Up!</h1>

<h4>@Model.Name is now level @ViewBag.NewLevel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="NewLevel" value="@ViewBag.NewLevel" />
            <div class="form-group">
                <label asp-for="ArmorClass" class="control-label"></label>
                <input asp-for="ArmorClass" class="form-control" />
                <span asp-validation-for="ArmorClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHitPoints" class="control-label"></label>
                <input asp-for="MaxHitPoints" class="form-control" />
                <span asp-validation-for="MaxHitPoints" class="text-danger"></span>
            </div>

            @if (ViewBag.NewLevel == 4 || ViewBag.NewLevel == 8 || ViewBag.NewLevel == 12 || ViewBag.NewLevel == 16 || ViewBag.NewLevel == 19)
            {
                <fieldset>
                    <legend>Ability scores</legend>
                    <div class="form-group">
                        <label asp-for="Attributes.Strength" class="control-label">Strength</label>
                        <input name="Strength" value="@Model.Attributes.Strength" min="1" max="20" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Attributes.Dexterity" class="control-label">Dexterity</label>
                        <input name="Dexterity" value="@Model.Attributes.Dexterity" min="1" max="20" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Attributes.Constitution" class="control-label">Constitution</label>
                        <input name="Constitution" value="@Model.Attributes.Constitution" min="1" max="20" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Attributes.Intelligence" class="control-label">Intelligence</label>
                        <input name="Intelligence" value="@Model.Attributes.Intelligence" min="1" max="20" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Attributes.Wisdom" class="control-label">Wisdom</label>
                        <input name="Wisdom" value="@Model.Attributes.Wisdom" min="1" max="20" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Attributes.Charisma" class="control-label">Charisma</label>
                        <input name="Charisma" value="@Model.Attributes.Charisma" min="1" max="20" class="form-control" />
                    </div>
                </fieldset>
            }
            
            <div class="form-group">
                <input type="submit" value="Level up!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
